.header{
    background-image: url('/images/aabout.jpg');
    background-size: cover;
    background-position: center;

}

.about-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 40px 70px;
    grid-gap:5rem;
}

.our-image{
    width: 100%;
}


.container1{
    margin: 100px 50px;
    display: flex;
    justify-content: space-around;
}
.ourimg{
    width: 100%;
}
.card{
    position: relative;
    margin: 20px ;
    width: 300px;
    border-radius: 10px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.5);
}

.card:hover{
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5);
}
.imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px  solid gray;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}
.card:hover .imgBox{
    transform: rotateY(-135deg);
}

.imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}



.contain-img{
    height: 45vh;
    background:  url('/images/about.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
}


.project-done{
    margin: 0;
    margin-top: 50px;
    background: #f7f7f9;
    padding: 5rem 0;
}

.project-done h1{
    font-size: 2.1rem;
    text-align: center;
}

.dynamic-services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer-section{
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;

}

.footer-section p{
    color: white;
}

.input-group-text{
    color:white;
    background: #5bc0de;
    border-radius:0 100px 100px 0;
    cursor: pointer;
    min-width: 120px;
    min-height: 40px;
}
.news-input{
    border-radius: 100px 0px 0px 100px;
    min-width: 150px;
    min-height: 40px;
}
.footer-section li a{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color:white;
    text-transform: capitalize;
    text-align: center;
}

.footer-section h3{
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

#myBtn{

    position:fixed;
    bottom: 20px;
    right:40px;
    z-index:90;
    border: none;
    color: white;
    background: #00abff;
    padding:10px;
    border-radius: 10px;
    transition: 0.2s ease;
}

#myBtn:hover{
    background: #606060;
}





@media only screen and (max-device-width:767px){
    .about-container{
        grid-template-columns: 1fr;
    }
    .para {
        text-align: center;
    }
    .project-done{
        margin:auto;
    }
    .nav-div{
        text-align: left;
        padding: 50px 0;
    }
    .dynamic-services{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}