*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}


h2{
    font-size:1rem;
    margin: 20px 0;
    font-weight: 500;
    line-height: 1;
    word-spacing: 4px;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 300;
}

i{
    color:#2fccd0
}


.header{
    width: 100%;
    height: 100vh;
    background-image: url('/images/error.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
}

.navbar::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    /* background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%); */
}

.nav-item a{
    color: white;
    font-weight: 700;
}
 
.scroll-nav{
    background: rgba(20,20,10,1);
    transition: 0.5s ease-in-out;
}

.header-section{
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .header-buttons a{
    border: 1px solid white;
    border-radius: 95px;
    margin: 0 5px;
    padding: 10px 30px;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    transition: .1s ease-in;
}

.header-buttons a:hover{
    background: white;
    color: #000000;
    font-weight: 700;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
} */

.center-div p{
    font-size: 1.32rem;
    padding: 10px 0;
    font-weight: 400;
}





@media only screen and (max-width:768px){
    .nav-item{
        text-align: center ;
    }

}