<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Hi there</title>
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/style.css">
    <script></script>
</head>
<body>
      <!-- header part Start--------------------------------------------- -->

    <div class="header" id="topheader" >
        <nav class="navbar navbar-expand-lg navbar-dark  fixed-top ">
          <div class="container text-uppercase p-2" >

            <a class="navbar-brand font-weight-bold text-white" href="/">A+ Techno Gears</a>
            <a class="navbar-brand font-weight-bold text-white" href="/">8899949362</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/#servicediv">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#pricingdiv">Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <% if(currentUser ){  %>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout"> Logout</a>
                </li>
              <% }else{  %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
              </li>
               <% } %>
              </ul>
            </div>
          </div>
          </nav>


          <section class="header-section"  >
            <div class="center-div" >
              <h1 class="font-weight-bold  animate__animated  animate__bounce" >We Are Designers and Developers</h1>
              <p class="header-p" >We Will Take Your World Online.</p>
              <div class="header-buttons" >
                  <a href="/about" class="aboutButton">About Us</a>
                  <a href="/contact" class="contactButton">Contact Us</a>
              </div>
            </div>
          </section>
    </div>



    <!-- header part  Services--------------------------------------------- -->


 <section class="header-extradiv" >
    <div class="container" >

      <div>
        <h1>OUR WEB DESIGN AND DEVELOPMENT SERVICES</h1>
      </div>
      <div class="offers" >
        <div class="checking animated-shadow"   >
          <div class = "img-class">
            <img src="images/websitelogo.jpg" alt="image">
          </div>
          <div>
            <h2>Web development</h2>
            <p>Web Development helps to improve your connectivity with the customers and the clients. A website will facilitate things like expanding your reach and attracting more visitors to your business. Having a website and online presence strategy allows you to market your business online.</p>
          </div>
        </div>
        <div class="checking animated-shadow" >
          <div class = "img-class">
            <img src="images/mob3.jpg" alt="image">
          </div>
          <div>
            <h2>App development</h2>
            <p>For a user, the important of mobile application development is of great importance. Portability and ease of use make the usability of mobile applications extremely simple for audience with gradually less learning curve. Mobile applications send information to their customers using notification</p>
          </div>
        </div>
        <div class="checking animated-shadow" >
          <div class = "img-class">
            <img src="images/otherser1.jpg" alt="image">
          </div>
          <div>
            <h2>Other Services</h2>
            <p>There are lots of different services provided by our company which are very important to promote and improve your business. Some of the services are i.e Networking services, Security,Website maintenance, Collecting and storing data ,Maintaining IT systems , Digital marketing , SEO etc.</p>
          </div>
        </div>

      </div>

    </div>
 </section>   


<!-- What Do We Offer------------------------------------------ -->

<section class="service-offers" id="servicediv" >
  <div class="container headings text-center">
    <h1 class="text-center font-weight-bold" >What Are We Offering</h1>
    <p class="text-center" >Our Company covers mainly all the related task and services based on customers need and requirements!!</p>
  </div>
  <div class="container" >
    <div class="row">
      <div class="col-lg-6 col-md-12 col-10 offset-1 offset-lg-0">

        <div class="names my-3" >
          <h1>Success rate in every project after all changes from client</h1>
          <div class="progress w-75" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">100%</div>
          </div>
        </div>
        <div class="names my-3" >
          <h1>Deal with all type of website (fullfill all requirements of client)</h1>
          <div class="progress w-75" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:90%">90%</div>
          </div>
        </div>
        <div class="names my-3 w-75" >
          <h1>Deal with outside india client</h1>
          <div class="progress" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
          </div>
        </div>
        <div class="names my-3" >
          <h1>Completed and matched similar as requirement of client in mobile app mainly covers all new technology such as React etc.</h1>
          <div class="progress w-75" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%">80%</div>
          </div>
        </div>
        <div class="names my-3" >
          <h1>Deal with SEO and all other Digital marketing services</h1>
          <div class="progress w-75" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:90%">90%</div>
          </div>
        </div>
        
      </div>

      <div class="col-lg-6 col-md-12 col-12 service-div" >
        <div class="row" >
          <div class="col-lg-2 col-2 service-icons" >
            <i class="fa fa-desktop fa-3x"  aria-hidden="true"></i>
          </div>
          <div class="col-lg-10 col-10" >
            <h2>Website Designing</h2>
            <p>You may often hear designers and tech heads throwing around terms such as responsive, liquid or fixed design. ''What does it all mean and why is it going to cost my business more money?'' you ask. With the increasing complexity of website development that enables simplistic viewing for users, responsive design might be the optimal design type for your business's website. Let us shed some light on these terms first:</p>
          </div>
        </div>
        <div class="row" >
          <div class="col-lg-2 col-2 service-icons" >
            <i class="fa fa-wifi fa-3x"  aria-hidden="true"></i>
          </div>
          <div class="col-lg-10 col-10" >
            <h2>Digital Marketing</h2>
            <p>Marketing is all about connecting with your audience in the right place at the right time. In the age of digitization, your best strategy would be to meet your customers online where they are already spending much time. Digital platforms are increasingly getting associated with marketing schemes and everyday life. In such circumstances, it’s essential to understand the key benefits of digital marketing. By incorporating technology-focused strategies into marketing, business owners can gain better outputs easily.</p>
          </div>
        </div>
        <div class="row" >
          <div class="col-lg-2 col-2 service-icons" >
            <i class="fa fa-phone fa-3x"  aria-hidden="true"></i>
          </div>
          <div class="col-lg-10 col-10" >
            <h2>Support 24/7</h2>
            <p>A 24/7 support line will often offer a substantial positive ROI, simply because it means customers are more likely to stay with a business that helps them immediately. A business that invests in a 24/7 customer service line is demonstrating that they want to truly look after their customers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- 3d Slideshow-------------------- -->

<section class="slideshow">
  <div class="content">
    <div class="content-carrousel">
      <figure class="shadow-figure"><img src="images/mob2.jpg" alt="image"></figure>
      <figure class="shadow-figure"><img src="images/otherser1.jpg" alt="image"></figure>
      <figure class="shadow-figure"><img src="images/back6.jpg" alt="image"></figure>
      <figure class="shadow-figure"><img src="images/otherser.jpg" alt="image"></figure>
      <figure class="shadow-figure"><img src="images/back2.jpg" alt="image"></figure>
      <figure class="shadow-figure"><img src="images/back3.jpg" alt="image"></figure>
      <figure class="shadow-figure"><img src="images/back6.jpg" alt="image"></figure>
      <figure class="shadow-figure"><img src="images/mob3.jpg" alt="image"></figure>
      <figure class="shadow-figure"><img src="images/back5.jpg" alt="image"></figure>
    </div>
  </div>
</section>




<!-- Our Best Pricing------------------------------------ -->

<section class="pricing" id="pricingdiv" >
  <div class="container headings text-center">
    <h1 class="text-center font-weight-bold text-white" >Our Best Categories</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="card text-center" id = "newcard">
          <div class="card-header">BASIC</div>
          <div class="card-body">
            <li>Price <span class="money"></span>will be decided depand on requirements (negotiable) </li>
            <li>Static Websites</li>
            <li>Domain Name Free</li>
            <li>Mobile Friendly</li>
            <li>Webmail Support</li>
            <li>Customer Support</li>
          </div>
          <div class="card-footer">
            <a href="#">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 standard-card">
        <div class="card text-center">
          <div class="card-header">STANDARD</div>
          <div class="card-body">
            <li>Price <span class="money"></span>will be decided depand on requirements (negotiable) </li>
            <li>Responsive Websites</li>
            <li>Domain Name Free</li>
            <li>Mobile Friendly</li>
            <li>Webmail Support</li>
            <li>Customer Support</li>
          </div>
          <div class="card-footer">
            <a href="#">Purchase</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="card text-center" id = "premium">
          <div class="card-header">PREMIUM</div>
          <div class="card-body">
            <li>Price <span class="money"></span>will be decided depand on requirements (negotiable) </li>
            <li>Liquid Website
              <li>Responsive Websites</li>
              <li>Domain Name Free</li>
              <li>Mobile Friendly</li>
              <li>Webmail Support</li>
              <li>Customer Support</li>
              <li>Customizable lifetime Support (24X7)</li>
              <li>Covers all the services</li>
          </div>
          <div class="card-footer">
            <a href="#">Purchase</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>




<!-- NewsLetter------------------------------------- -->

<section class="newsletter" id="newsletterid" >
  <div class="container headings text-center" >
    <h1 class="text-center font-weight-bold" >SUBSCRIBE TO OUR NEWSLETTER</h1>
  </div>

  <div class="container" >
    <div class="row" >
      <div class="col-lg-8 offset-lg-2 col-12" >
        <div class="input-group mb-3">
          <input type="text" class="form-control news-input" placeholder="Your Email">
          <div class="input-group-append">
            <span class="input-group-text">Subscribe</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer------------------------------------ -->

<footer class="footer-section" id="footerdiv" > 
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 footer-div">
        <div>
          <h3>About A+ Techno Gears</h3>
          <p>We are a boutique digital transformation consultancy and software development company that provides cutting edge engineering solutions, helping Fortune 50 companies and enterprise clients untangle complex issues that always emerge during their digital evolution journey. Since 2020 we have been a visionary and a reliable software engineering partner for world-class brands.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
        <div class="nav-div" >
          <h3>Navigations</h3>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Price</a></li>
          <li><a href="#">About</a></li>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-12 footer-div">
        <div>
          <h3>Newsletter</h3>
          <p>Subscribe to our NewsLetter to get Daily update which includes and 
            business deals and offers. 
          </p>
          <div class="container newsletter-main" >
            <div class="row" >
              <div class="col-lg-12 col-12" >
                <div class="input-group mb-3">
                  <input type="text" class="form-control news-input" placeholder="Email">
                  <div class="input-group-append">
                    <span class="input-group-text">Subscribe</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 text-center " >
      <p>Copyright @A Plus Industries<sup>+</sup></p>
    </div>

    <div class="scrolltop float-right">
      <i class="fa fa-arrow-up " aria-hidden="true" onclick="topFunction()" id="myBtn"></i>
    </div>
  </div>
</footer>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="scripts/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="scripts/tilt.jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.1/ScrollTrigger.min.js"></script>
    <script src="scripts/script.js"></script>

</body>
</html>